# Python Virtual Environment
.venv/
venv/
ENV/
env/

# Python Cache & Logs
__pycache__/
*.py[cod]
*$py.class
*.log
backend.log
ngrok.log
./logs/
airflow/logs/

# Airflow runtime files
airflow/airflow-webserver.pid
airflow/airflow-scheduler.pid
airflow/*.pid
airflow/*.log

# Node & Frontend Dependencies & Builds
node_modules/
frontend/node_modules/
dist/
frontend/dist/
.output/

# Environment Variables & Secrets
.env
.env.local
.env.*.local

# OS & Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/

*.pdf

csv_files/
scraper_old.py